<!DOCTYPE html>
<html>
    <head>
        <title>WormDirt Development</title>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="stylesheets/master.css">
        <link link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="lib/typed.js"></script>
        
        <!-- FontAwesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Assistant|Luckiest+Guy" rel="stylesheet">

    </head>
    <body>

        <div class="menu-ex" onclick="menuFunction(this)">
            <div class="bars">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="menu-ex-text">
                <a href="#home"><i class="fas fa-home fa-2x"></i></a>
                <a href="#about"><i class="fas fa-user fa-2x"></i></a>
                <a href="#contact"><i class="far fa-envelope fa-2x"></i></a>                
            </div>            
        </div>